header{
  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: plum;
    padding: 35px;
    align-items: center;
    margin-right: 49%;
    border-color: blue;
    border: 3px solid blue;
    margin-left: 10%;
}
.main{


    font-size: 19px;
    font-family: Arial;
    border: 3px solid purple;
    background-color: aquamarine;
    margin: 2% 49% 4% 10%
}

.content{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid  darkred;
    background-color: sandybrown;
    padding: 28px;
    margin-left: 26%;
    margin-right: 49%;
    

}